#btn1 {
    padding: 10px;
    border-radius: 30px;
    background-color: lime;
}

#btnr{
    padding: 10px;
    border-radius: 30px;
    background: lime;
}

img{
    width:958;
    height:578;
}

.wrapper {
    margin: 100px;
}